.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    &__logo{
        font-size: 12px;
        color: black;
        text-decoration: none;
        padding: 10px;
    }
    &__link{
        font-size: 12px;
        background-color: #0D6EFD;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        padding: 3px;
        margin-right: 8px;
    }
}